.Cusmain_after_adding {
    color: #e4826c;
    -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
    box-shadow: 0px 0px 0px 1px #d65033 inset, 0px 0px 0px 0px #F8694A;
}


