/*this styles added by M zoubi /
/the purpose of this style is to add under_lines when you hover on some texts */

.header-top-links {
    font-weight: 900;
  }

.text-uppercase{
    font-weight: 900;
}
.store-pages{
    font-weight: 900;
}


.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.cool-link:hover::after {
    width: 100%;
    
}
  

.cool-link_orange {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link_orange::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #dc590c;
    transition: width .3s;
}
.cool-link_orange:hover::after {
    width: 100%;
    
}
  
