<!DOCTYPE html>
<html lang="en">


<body>



	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">



				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->



	<!-- jQuery Plugins -->
	<script src="public/js/jquery.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/slick.min.js"></script>
	<script src="public/js/nouislider.min.js"></script>
	<script src="public/js/jquery.zoom.min.js"></script>
	<script src="public/js/main.js"></script>

</body>

</html>
